<div class="mb-md project-search">
	<div>
		<button nz-button (click)="openTrainSetModel('创建训练集',contTpl,footTpl)" [nzType]="'primary'">创建训练集</button>
		<!-- <button nz-button (click)="add('复制训练集',actionTpl,addObject)" [nzType]="'primary'">复制训练集</button> -->
	</div>

	<div>
		<!-- <input nz-input (keydown.enter)="getTraintList({kW:true})" [(ngModel)]="keyWord" name="name"
			placeholder="请输入训练集标签关键字" style="width: 200px;" class="mr-sm">
		<button nz-button (click)="getTraintList({kW:true})" [nzType]="'primary'">搜索</button> -->
	</div>
</div>
<st #st [data]="pageData" [columns]="columns" [page]="page" [bordered]="true" [pi]="pageIndex" [total]="total"
	(change)="getTraintList($event)"></st>
<!-- 弹窗 -->
<ng-template #contTpl>
	<!-- <div *ngIf="step=='1'">
		<div class="top">
			<st #st2 [data]="sampleSetList" [columns]="sampleSetcolumns" [page]="samplePageConf.page" [bordered]="true"
				[pi]="samplePageConf.pageIndex" [ps]="samplePageConf.pageSize" [total]="samplePageConf.total" (change)="handleStChange($event)"></st>
		</div>
		<div class="features">
			<nz-transfer *ngIf="schemaList.length>0" style="margin:0 auto;" [nzDataSource]="schemaList" (nzChange)='featureChange($event)'
				[nzTitles]="['待选特征', '已选特征']">
			</nz-transfer>
		</div>
	</div>
	<div *ngIf="step=='2'">
		<div style="width: 410px; margin:0 auto;">
			<nz-transfer [nzDataSource]="selectedSchemaList" [nzTitles]="['已选特征', '目标特征']">
			</nz-transfer>
			<nz-form-item  style="margin-top: 20px;">
				<nz-form-control>
					<nz-form-label class="sampleSet_label">训练集名称</nz-form-label>
					<input class="sampleSet_input" nz-input placeholder="请输入名称"
						[(ngModel)]="trainSetData.train_title" />
				</nz-form-control>
			</nz-form-item>
			<nz-form-item>
				<nz-form-control>
					<nz-form-label class="sampleSet_label">训练集比例</nz-form-label>
					<nz-select class="sampleSet_input" [(ngModel)]="trainSetData.data_size_percent">
						<nz-option *ngFor="let t of percentList" [nzValue]="t.key" [nzLabel]="t.name"></nz-option>
					</nz-select>
				</nz-form-control>
			</nz-form-item>
			<nz-form-item>
				<nz-form-control>
					<nz-form-label class="sampleSet_label">测试集比例</nz-form-label>
					<nz-select class="sampleSet_input" [(ngModel)]="trainSetData.train_test_rate">
						<nz-option *ngFor="let t of percentList" [nzValue]="t.key" [nzLabel]="t.name"></nz-option>
					</nz-select>
				</nz-form-control>
			</nz-form-item>
		</div>

	</div> -->

</ng-template>
<ng-template #footTpl>
	<!-- <button nz-button nzType="default" *ngIf="step=='1'" (click)='closeModel()'>取消</button>
	<button nz-button nzType="primary" *ngIf="step=='1'" [disabled]='selectedSchemaList.length==0' (click)='goStep(2)'>下一步</button>
	<button nz-button nzType="primary" *ngIf="step=='2'" (click)='goStep(1)'>上一步</button>
	<button nz-button nzType="primary" *ngIf="step=='2'" (click)='savaClick()'>完成</button> -->
</ng-template>