// #region PLACEHOLDER, IMPORTANT: don't remove
@import '~@delon/theme/styles/index';
@import '~@delon/abc/index';
@import '~@delon/chart/index';
@import '~@delon/theme/styles/layout/default/index';
@import '~@delon/theme/styles/layout/fullscreen/index';
@import './styles/index';
@import './styles/theme';
// #endregion
#alain-default__aside{
    margin-top: 0px;
}
#alain-default__content{
    margin-top: 0px;
}
#reuse-tab{
    top:0px;
}